<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presentation.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Presentation.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Presentation.Settings>
            <setting name="RCP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="VLCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Languague" serializeAs="String">
                <value>es</value>
            </setting>
            <setting name="VLCPassword" serializeAs="String">
                <value />
            </setting>
        </Presentation.Settings>
        <Presentation.Settings1>
            <setting name="RCP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
        </Presentation.Settings1>
    </userSettings>
</configuration>